[submodule "CacheEval"]
	path = CacheEval
	url = https://github.com/aklsh/CacheEval
[submodule "AdapPageManage"]
	path = AdapPageManage
	url = https://github.com/aklsh/AdapPageManage
[submodule "MMU"]
	path = MMU
	url = https://github.com/aklsh/MMU
[submodule "TournamentBPU"]
	path = TournamentBPU
	url = https://github.com/aklsh/TournamentBPU
[submodule "Tomasulo"]
	path = Tomasulo
	url = https://github.com/aklsh/DynamicExecCore
